.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
    width: 100%;
    
}
.submit{
width: 100px;
margin-bottom: 10px;
}
.parent{
    padding: 20px;
    margin: 0;
}