.loginPage {
  background-image: url('../assets/images/nikita-kachanovsky-OVbeSXRk_9E-unsplash.jpg');
  // background-color: rgb(203, 255, 254);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

}