.container {
    width: 70em;
    padding: 5%;
    background-color: rgb(243, 243, 243);
    border-radius: 1%;

    th {
        border: 2px solid black;
    }

    td {
        border: 2px solid black;
    }
}